<h1 style ="text-align:center;"><em>"I do not pray for a lighter load, but rather for a stronger back" - Anonymous </em> </h1>

<%= link_to 'Create New Task', new_task_path %>
<table border="3" width = "50%" cellpading="4" cellspacing ="3">
  <thead>
    <tr>
      <th >Tasks</th>
      <th >Category</th>
      <th >Due date</th>
    </tr>
  </thead>
 
  <tbody>
    <%= form_tag("/tasks/complete/", :method => "post") do %> 
    <% @tasks.each do |task| %>
      <tr>
        <% if task.completed == true %> 
        <td align="left"> <%= check_box_tag "task_checkbox[]",task.id %> <strike><%= task.tasks %></strike></td>
        <% else %>
        <td align="left"> <%= check_box_tag "task_checkbox[]",task.id %> <%= task.tasks %></td> 
        <% end %> 
        <td align="center"><%= task.category %></td>
        <td align="center"><%= task.due_date %></td>
        <td align="center"><%= link_to 'Show', task %></td>
        <td align="center"><%= link_to 'Edit', edit_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
<br>

<%= submit_tag("Complete Tasks", :class=>"btn btn-success") %> 
<% end %> 



