<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="localhost:3000/help">Help</a></li>
  <li><a href="#">SignUp/In</a></li>
  <li><a href="localhost:3000/tasks">Your To Do List</a></li>
  <li><a href="tasks/completed">Completed</a></li>
</ul>

<body background="http://25.media.tumblr.com/721a9a32e2aa785fed67ca95043ed76b/tumblr_mygb37aq7J1qcj8jbo1_1280.jpg" /> 

<p id="notice"><%= notice %></p>

 <ul id="nav" ><ul id="nav" ><ul id="nav" ><ul id="nav" ><ul id="nav" >

<p>
  <strong>Tasks:</strong>
  <%= @task.tasks %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>


<font color = "#000000"> <%= link_to 'Edit', edit_task_path(@task) %> |</font>
<%= link_to 'Back', tasks_path %>

</ul></ul></ul></ul></ul>
